
<div id="collection_carousel" class="collection-carousel" style="display:none;">
  {% for collection in collections %}
  <div class="collection-item">
    <a href="{{ path('lfr_store_explore', {'collection': collection.slug }) }}">
      {% if collection.credit is not empty %}
        <div class="photo-credit">
          <a href="#" data-toggle="tooltip" data-placement="right"
            title="{{ collection.credit }}">
            i
          </a>
        </div>
      {% endif %}
      <img class="collection-img" src="{{ asset('uploads/img/' ~ collection.small_image) }}">
      <div class="item-overlay top"></div>
    </a>
      <div class="collection-description">
        {% if is_granted('ROLE_ADMIN') %}
          {% set edition_buttons="LFRStoreBundle:Utils:edition.html.twig" %}
          {{ include(edition_buttons, {'edit': path('lfr_admin_collection_add', {'id': collection.id}), 'remove': path('lfr_admin_collection_remove', {'id': collection.id}) }) }}
        {% endif %}
        <a href="{{ path('lfr_store_explore', {'collection': collection.slug }) }}">
          <h2>{{ collection.title }}</h2>
          <p>
            {{ collection.description }}
          </p>
        </a>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
